.App {
  text-align: center;
}

.header {
  display: flex;
  box-shadow: 1px 1px 10px #ccc;
  padding-left: 50px;
}




.countryBlock {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px #ccc;
  width: 250px;
  height: 350px;
  margin: 20px auto;
  padding-top: 0%;
  padding-bottom: 10px;
  border-radius: 10px;
}

.countryBlock img {
  max-width: 250;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.allBlocks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

h3 {
  margin-left: 20px;
}

p{
  margin-left: 20px;
  margin-top:5px;
  margin-bottom: 5px;
}

.countryInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 50%;
}

.dataRes {
  color: rgb(88, 88, 88);
}
